.slider {
  border-radius: 19px;
  @media screen and (max-width: 768px) {
    .slick-prev:before,
    .slick-next:before {
      display: none;
    }
    .slick-next,
    .slick-prev{
      display: none !important;}
  }
  .slick-next,
  .slick-prev{
    z-index: 1;
    background-color: rgba(0,0,0,0.1);
    width: 40px;
    height: 60px;
    border: 1px solid ;
    &:hover{
      background-color:rgba(0,0,0,0.5)
    }
   
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-family: FontAwesome;
    font-size: 25px;
    color: rgb(0, 72, 255);

    
  }
  .slick-prev:before{
    content: "\f104";

  }
  .slick-next::before {
    
    content: "\f105";
  }
  .slider__item {
    outline: none;
    overflow: hidden;
    border-radius: 18px;

    img {
      width: 100%;

      object-fit: cover;
    }
  }

  .slick-arrows {
    display: none;
  }

  .slick-dots {
    bottom: 2px;

    li {
      width: 30px;
    }

    .slick-active button {
      background-color: #fff;
    }

    button {
      width: 100%;
      background-color: #0099a8;
      height: 6px;
      padding: 0;
      &::before {
        content: unset;
      }
    }
  }
}
